* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Shantell Sans', cursive;
    color: #fff;
}

.container {
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.city {
    margin-top: 45px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px
}

.weather__app {
    height: 100vh;
    width: 394px;
    /* border: 1px solid black; */
    padding: 10px;
    background: rgb(77, 93, 243);
    background-color: #3b5cec;
    background-image: linear-gradient(0deg, #b7bfe2 0%, #40acbe 100%);
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.weahter__condition-now {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weather__forecast-now {
    display: flex;
    gap: 20px;
}

.temp__now-degrs {
    display: block;
    margin-top: 10px;
    font-size: 45px;
    color: #ffff;
    position: relative;
}

.temp__now-degrs::after {
    content: '°';
    position: absolute;
    bottom: 13%;
    left: 126%;
    font-size: 29px;
    transform: translate(-50%, -50%);
}

.weather__condition-image {
    margin-left: 10px;
}

.search__city {
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.search__input {
    padding: 6px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    width: 180px;
    color: black;
    margin-top: 14px;
}

.search__input::placeholder {
    text-align: center;
    font-size: 17px;
    color: black;
}

.search_x::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: none;
}

.btn {
    padding: 5px;
    width: 50px;
    margin-top: 3px;
    font-size: 15px;
    padding: 5px;
    background-color: rgb(243, 239, 9);
    outline: 0;
    border-radius: 28% 72% 62% 38% / 30% 31% 69% 70%;
    border: none;
    color: #ffff;
    cursor: pointer;
    margin-top: 20px;
    color: #63b2c8;
    font-weight: 700;
}

.date {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* border: 1px solid red; */
}

.today__date {
    color: #fff;
    font-size: 24px;
}

.slide__container {
    /* overflow-x: auto; */
}

.arrow {}

.slider {
    display: flex;
    width: 70%;
    overflow-x: auto;
    margin: 0 auto;
}

.weather__condition {
    flex: 0 0 auto;
    width: 80px;
    /* or any other width you want each element to have */
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 22px;
}

.temp__degrs {
    padding-top: 14px;
    position: relative;
}

.degrs {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 29px;
    /* transform: translate(-50%, -50%); */
}

.time {}

.time__hourly {}
